@font-face {
    font-family: 'colaborate-light';
    src: url('../fonts/colablig-webfont.eot');
    src: url('../fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colablig-webfont.woff') format('woff'),
         url('../fonts/colablig-webfont.ttf') format('truetype'),
         url('../fonts/colablig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaborate-thin';
    src: url('../fonts/colabthi-webfont.eot');
    src: url('../fonts/colabthi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabthi-webfont.woff') format('woff'),
         url('../fonts/colabthi-webfont.ttf') format('truetype'),
         url('../fonts/colabthi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaborate-medium';
    src: url('../fonts/colabmed-webfont.eot');
    src: url('../fonts/colabmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabmed-webfont.woff') format('woff'),
         url('../fonts/colabmed-webfont.ttf') format('truetype'),
         url('../fonts/colabmed-webfont.svg#colaborate-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'desyrel';
    src: url('../fonts/desyrel-webfont.eot');
    src: url('../fonts/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/desyrel-webfont.woff') format('woff'),
         url('../fonts/desyrel-webfont.ttf') format('truetype'),
         url('../fonts/desyrel-webfont.svg#desyrelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}