.dates {
		margin-left: -1%;
		padding: 2.5em 3em 2em 3em;
		background: #3e3e3e;
		@media screen and (max-width: 600px) {
			padding: 2.5em 1.5em 2em 1.5em;
		}
		
		li {
			float: left;
			width: 13%;
			margin-left: 1%;
			@media screen and (max-width: 780px) {
				width: 24%;
				margin-top: 1%;
			}
			@media screen and (max-width: 480px) {
				width: 32%;
			}
			a {
				display: block;
				text-align: center;
				background: #ccc;
				text-decoration: none;
				font-size: 16px;
				color: #000;
				font-weight: 600;
				padding: 14px 0;
				border-radius: 5px;
				border: 2px solid transparent;
				span {
					display: block;
					font-size: 16px;
					font-weight: 200;
				}
				&:hover {
					background: #eee;
				}
			}
			&.active {
				a {
					background: #fff;
					border-color: #fff;
				}
			}
		}
	}
