@font-face {
  font-family: 'colaborate-light';
  src: url("../fonts/colablig-webfont.eot");
  src: url("../fonts/colablig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/colablig-webfont.woff") format("woff"), url("../fonts/colablig-webfont.ttf") format("truetype"), url("../fonts/colablig-webfont.svg#colaboratelightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'colaborate-thin';
  src: url("../fonts/colabthi-webfont.eot");
  src: url("../fonts/colabthi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/colabthi-webfont.woff") format("woff"), url("../fonts/colabthi-webfont.ttf") format("truetype"), url("../fonts/colabthi-webfont.svg#colaborate-thinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'colaborate-medium';
  src: url("../fonts/colabmed-webfont.eot");
  src: url("../fonts/colabmed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/colabmed-webfont.woff") format("woff"), url("../fonts/colabmed-webfont.ttf") format("truetype"), url("../fonts/colabmed-webfont.svg#colaborate-mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'desyrel';
  src: url("../fonts/desyrel-webfont.eot");
  src: url("../fonts/desyrel-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/desyrel-webfont.woff") format("woff"), url("../fonts/desyrel-webfont.ttf") format("truetype"), url("../fonts/desyrel-webfont.svg#desyrelregular") format("svg");
  font-weight: normal;
  font-style: normal; }

header {
  background: #000;
  padding: 1em 3em;
  position: relative; }
  header h1 {
    color: #fff;
    font-family: 'colaborate-thin';
    font-size: 36px; }
  header .theme-switch {
    position: absolute;
    top: 50%;
    right: 3em;
    margin-top: -10px; }
    header .theme-switch li {
      display: inline-block; }
    header .theme-switch a {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      font-weight: 100;
      width: 20px;
      height: 20px;
      text-indent: -9999px;
      display: block;
      border: 1px solid #fff;
      background: #000;
      overflow: hidden; }
      header .theme-switch a.theme-red {
        background: #9e0030; }
      header .theme-switch a.theme-blue {
        background: #99cccd; }

main {
  padding: 1em 3em 4em 3em;
  background: #fff; }

.dates {
  margin-left: -1%;
  padding: 2em 3em;
  background: #3e3e3e; }
  .dates li {
    float: left;
    width: 13%;
    margin-left: 1%; }
    @media screen and (max-width: 780px) {
      .dates li {
        width: 24%;
        margin-top: 1%; } }
    @media screen and (max-width: 480px) {
      .dates li {
        width: 32%; } }
    .dates li a {
      display: block;
      text-align: center;
      background: #ddd;
      text-decoration: none;
      font-size: 16px;
      color: #000;
      font-weight: 600;
      padding: 14px 0;
      border-radius: 5px;
      border: 2px solid transparent; }
      .dates li a span {
        display: block;
        font-size: 16px;
        color: #666;
        font-weight: 200; }
      .dates li a:hover {
        background: #eee; }
    .dates li.active a {
      background: #fff;
      border-color: #fff; }

.filter {
  padding: 0 3em;
  background: #3e3e3e; }
  .filter legend {
    text-indent: -9999px; }
  .filter ol {
    margin-left: -8px; }
    @media screen and (max-width: 780px) {
      .filter ol {
        margin-left: -2px; } }
    .filter ol li {
      float: left;
      width: auto;
      margin-left: 8px;
      position: relative; }
      @media screen and (max-width: 780px) {
        .filter ol li {
          margin-left: 2px; } }
      @media screen and (max-width: 600px) {
        .filter ol li {
          width: 50%;
          margin-left: 0; } }
      .filter ol li a {
        background: #666;
        text-decoration: none;
        color: #fff;
        border-radius: 5px 5px 0 0;
        font-size: 16px;
        padding: 15px 30px;
        display: block;
        line-height: 1em;
        cursor: pointer;
        font-weight: 300; }
        .filter ol li a:hover, .filter ol li a.active {
          background: #fff;
          color: #000; }
      .filter ol li div {
        display: none;
        position: absolute;
        top: -30px;
        left: 90px;
        width: 140px;
        padding: 30px 0 0 40px;
        background: url("../img/arrow.png") 0 0 no-repeat; }
      .filter ol li:hover div {
        display: block; }
        .filter ol li:hover div p {
          font-family: 'desyrel'; }

table {
  width: 100%;
  margin-top: .8em;
  border: 6px solid #000; }
  table caption {
    text-indent: -9999px; }
  table th {
    text-align: left;
    background: #000;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: normal; }
  table tr {
    background: #fff;
    border-top: 1px dashed #bbb; }
    table tr:hover {
      background: #eee; }
    table tr:first-child {
      border: 0; }
  table td {
    padding: 15px; }
    table td label {
      display: none; }
    table td:first-child {
      width: 20px; }
  table a {
    color: #000; }
    table a:hover {
      color: #555; }
  @media screen and (max-width: 480px) {
    table .ni {
      display: none; } }

footer {
  padding: 1.5em 3em;
  color: #fff; }
  footer p {
    font-size: 14px; }

.theme {
  background: #fff; }
  .theme main {
    background: #e1f1f1; }
  .theme header {
    background: #fff;
    position: relative; }
    .theme header h1 {
      color: #000; }
  .theme .dates {
    background: #f9f9f9; }
    .theme .dates li a {
      background: #99cccd;
      color: #fff;
      text-shadow: none;
      border: 2px solid #99cccd; }
      .theme .dates li a span {
        color: #fff; }
      .theme .dates li a:hover {
        border-color: #e1f1f1;
        background: #e1f1f1;
        color: #000; }
        .theme .dates li a:hover span {
          color: #666; }
    .theme .dates li.active a {
      background: #fff;
      border-color: #99cccd;
      color: #000; }
      .theme .dates li.active a span {
        color: #666; }
  .theme .filter {
    background: #f9f9f9;
    position: relative; }
    .theme .filter ol li a {
      color: #000;
      background: #efeeee; }
      .theme .filter ol li a div p {
        color: #fff; }
      .theme .filter ol li a:hover, .theme .filter ol li a.active {
        background: #e1f1f1;
        color: #000; }
  .theme table {
    position: relative;
    border-color: #99cccd; }
    .theme table th {
      background: #99cccd;
      color: #fff; }
    .theme table tr {
      background: #fff;
      border-top: 1px dashed #99cccd; }
      .theme table tr:nth-child(even) {
        background: #fff; }
      .theme table tr:hover {
        background: #eee; }
      .theme table tr:first-child {
        border: 0; }
    .theme table a {
      color: #000; }
      .theme table a:hover {
        color: #555; }
  .theme footer {
    color: #000; }

.red-theme {
  background: #fff; }
  .red-theme main {
    background: #ddd; }
  .red-theme header {
    background: #fff;
    position: relative; }
    .red-theme header h1 {
      color: #000; }
  .red-theme .dates {
    background: #f9f9f9; }
    .red-theme .dates li a {
      background: #9e0030;
      color: #fff;
      text-shadow: none;
      border: 2px solid #9e0030; }
      .red-theme .dates li a span {
        color: #fff; }
      .red-theme .dates li a:hover {
        border-color: #d1003f;
        background: #d1003f;
        color: #fff; }
        .red-theme .dates li a:hover span {
          color: #fff; }
    .red-theme .dates li.active a {
      background: #fff;
      border-color: #9e0030;
      color: #000; }
      .red-theme .dates li.active a span {
        color: #666; }
  .red-theme .filter {
    background: #f9f9f9;
    position: relative; }
    .red-theme .filter ol li a {
      color: #000;
      background: #eee; }
      .red-theme .filter ol li a div p {
        color: #fff; }
      .red-theme .filter ol li a:hover, .red-theme .filter ol li a.active {
        background: #ddd;
        color: #000; }
  .red-theme table {
    position: relative;
    border-color: #9e0030; }
    .red-theme table th {
      background: #9e0030;
      color: #fff; }
    .red-theme table tr {
      background: #fff;
      border-top: 1px dashed #ccc; }
      .red-theme table tr:nth-child(even) {
        background: #fff; }
      .red-theme table tr:hover {
        background: #eee; }
      .red-theme table tr:first-child {
        border: 0; }
    .red-theme table a {
      color: #000; }
      .red-theme table a:hover {
        color: #555; }
  .red-theme footer {
    color: #000; }
