<table>
    <caption>List of claims</caption>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th class="ni">NI Number</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label for="claim1">Claim 1</label><input type="checkbox" name="claim1" id="claim1"></td>
            <td><a href="#">Claim Smith 2/4/14, 10:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim2">Claim 2</label><input type="checkbox" name="claim2" id="claim2"></td>
            <td><a href="#">Claim Smith 2/4/14, 11:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim3">Claim 3</label><input type="checkbox" name="claim3" id="claim3"></td>
            <td><a href="#">Claim Smith 2/4/14, 12:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim1">Claim 1</label><input type="checkbox" name="claim1" id="claim1"></td>
            <td><a href="#">Claim Smith 2/4/14, 10:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim2">Claim 2</label><input type="checkbox" name="claim2" id="claim2"></td>
            <td><a href="#">Claim Smith 2/4/14, 11:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim3">Claim 3</label><input type="checkbox" name="claim3" id="claim3"></td>
            <td><a href="#">Claim Smith 2/4/14, 12:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim1">Claim 1</label><input type="checkbox" name="claim1" id="claim1"></td>
            <td><a href="#">Claim Smith 2/4/14, 10:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim2">Claim 2</label><input type="checkbox" name="claim2" id="claim2"></td>
            <td><a href="#">Claim Smith 2/4/14, 11:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim3">Claim 3</label><input type="checkbox" name="claim3" id="claim3"></td>
            <td><a href="#">Claim Smith 2/4/14, 12:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim1">Claim 1</label><input type="checkbox" name="claim1" id="claim1"></td>
            <td><a href="#">Claim Smith 2/4/14, 10:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim2">Claim 2</label><input type="checkbox" name="claim2" id="claim2"></td>
            <td><a href="#">Claim Smith 2/4/14, 11:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim3">Claim 3</label><input type="checkbox" name="claim3" id="claim3"></td>
            <td><a href="#">Claim Smith 2/4/14, 12:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim1">Claim 1</label><input type="checkbox" name="claim1" id="claim1"></td>
            <td><a href="#">Claim Smith 2/4/14, 10:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim2">Claim 2</label><input type="checkbox" name="claim2" id="claim2"></td>
            <td><a href="#">Claim Smith 2/4/14, 11:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
        <tr>
            <td><label for="claim3">Claim 3</label><input type="checkbox" name="claim3" id="claim3"></td>
            <td><a href="#">Claim Smith 2/4/14, 12:30</a></td>
            <td class="ni">VO 12 34 56 D</td>
            <td>2/4/14</td>
        </tr>
    </tbody>
</table>