@(currentDate: org.joda.time.LocalDate, currentStatus:String)

@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate

@formatToLink(day: LocalDate) = @{ DateTimeFormat.forPattern("ddMMyyyy").print(day)}
@isStatusCompleted = @{ currentStatus == "completed"}

<section class="filter">
    <fieldset>
        <legend>Filter</legend>
        <ol class="clearfix">
            <li><a href="/filter/@{formatToLink(currentDate)}" class="@{if(!isStatusCompleted)"active"}">Work queue</a></li>
            <li><a href="/filter/@{formatToLink(currentDate)}/completed" class="@{if(isStatusCompleted)"active"}">Completed</a></li>
        </ol>
    </fieldset>
</section>