@(title: String, currentDate:org.joda.time.LocalDate,currentStatus:String, claimsList:Option[play.api.libs.json.JsArray])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <script src="@routes.Assets.at("javascripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @header()
        <main>

            <div id="tabs">
                @daysBar(currentDate)
            </div>

            @filterBar(currentDate,currentStatus)
            @table(claimsList)
        </main>
        @footer()

        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
    </body>
</html>
