.filter {
	padding: .4em 3em 0 3em;
	background: #ddd;
	position: relative;
	
	@media screen and (max-width: 600px) {
		padding: 0 1em;
	}
	
	legend {
		text-indent: -9999px;
		font-size: 0;
	}
	ol {
		margin-left: -10px;
		@media screen and (max-width: 780px) {
			margin-left: -5px;
		}
		li {
			float: left;
			width: auto;
			margin-left: 10px;
			position: relative;
			@media screen and (max-width: 600px) {
				width: 48%;
				margin: 5px 0 0 5px;
			}
			a {
				background: #eee;
				text-decoration: none;
				color: #000;
				font-size: 16px;
				padding: 16px 30px;
				display: block;
				line-height: 1em;
				cursor: pointer;
				font-weight: 300;
				text-align: center;
				&.active {
					background: #fff;
					color: #000;
					font-weight: 600;
				}
				
				&:hover {
					background: #fff;
				}
				
				@media screen and (max-width: 600px) {
					font-size: 13px;
				}

			}
		}
	}
}
