footer {
	padding: 1.5em 3em;
	color: #fff;
	@media screen and (max-width: 1200px) {
		padding: 1.5em 2em;
	}
	
	p {
		font-size: 14px;
	}
	
	@media screen and (max-width: 700px) {
		padding: 1em .5em;
		p {
			font-size: 12px;
		}
	}
	
}