header {
	background: #fff;
	padding: 1em 3em;
	position: relative;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
	@media screen and (max-width: 1200px) {
		padding: 1.5em 2em;
	}
	@media screen and (max-width: 700px) {
		padding: 1em .5em;
	}

	h1 {
		color: #000;
		font-family: 'colaborate-thin';
		font-size: 32px;
		float: left;
		width: auto;
		@media screen and (max-width: 700px) {
			float: none;
			width: auto;
			font-size: 22px;
		}
	}
			


.theme-switch {
			
			display: inline-block;
			margin-right: 10px;
			
			li {
				display: inline-block;
				margin-right: 4px;
			}
			a {
				color: #fff;
				font-size: 16px;
				text-decoration: none;
				font-weight: 100;
				width: 20px;
				height: 20px;
				text-indent: -9999px;
				display: block;
				border: 1px solid #fff;
				background: #000;
				overflow: hidden;
				&.theme-red {
					background: #9e0030;
				}
				&.theme-blue {
					background: #4477b0;
				}
			}
		}



	aside {
	
		float: right;
		width: auto;
		margin-top: 5px;
		
		@media screen and (max-width: 700px) {
				float: none;
				width: auto;
				margin-top: 20px;
			}
		
		p {
			color: #000;
			font-size: 16px;
			padding-top: 8px;
			display: block;
			text-align: right;
			font-weight: 100;
			span {
				color: #4477b0;
			}
			@media screen and (max-width: 700px) {
				text-align: left;
				padding-top: 0;
				color: #666;
				font-size: 14px;
			}
		}
		
		a.log {
			color: #000;
			display: inline-block;
			margin-left: 12px;
			font-size: 16px;
			&:hover {
				text-decoration: none;
			}
			@media screen and (max-width: 700px) {
				font-size: 13px;
			}
			
		}
		
	}

}

.expired {
	text-align: center;
	color: #ccc;
	padding: .5em 0;
	font-size: 16px;
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
	@media screen and (max-width: 700px) {
		font-size: 13px;
		text-align: left;
		padding: .5em;
	}
}

