.login {
	background: #fff;
	



	fieldset {
		margin: 4em auto;
		position: relative;
		width: 700px;
		@media screen and (max-width: 720px) {
			margin: 2em auto;
			width: auto;
		}
		
			legend {
				font-size: 24px;
				background: #ddd;
				display: table;
				width: 90%;
				padding: 4% 5%;
				border-radius: 10px 10px 0 0;
				line-height: 1em;
				color: #000;
				
				@media screen and (max-width: 720px) {
					font-size: 20px;
				}
			}
			
			.error {

				margin-bottom: 3em;
				border-radius: 5px;
				
				h2 {
					font-family: 'colaborate-light';
					color: #d80000;
					font-size: 22px;
				}			
				
				ol {
					padding-left: 1em;
				}
				
				li {
					color: #d80000;
					font-family: 'colaborate-light';
					overflow: visible;
					font-size: 18px;
					list-style: disc;
					&:first-child {
						border: 0;
					}
				}
				
			}
			
			.success {
				color: #4477b0;
				font-family: 'colaborate-light';
				font-size: 18px;
				text-align: right;
			}
			
			
		
			div {
				background: #f9f9f9;
				border-radius: 0 0 10px 10px;
				padding: 5% 5% 7% 5%;
				border: 1px solid #ddd;
				
				
				label {
					line-height: 1em;
					text-align: left;
					font-size: 18px;
					font-weight: 100;
					font-family: 'colaborate-light';
					padding-bottom: 10px;
					display: block;		
					
					@media screen and (min-width: 720px) {
						float: left;
						width: 36%;
						padding: 16px 0;
					}
								
				}
				
				input {
					display: block;
					padding: 15px;
					border: 1px solid #ddd;
					line-height: 1em;
					border-radius: 5px;
					font-size: 18px;
					font-weight: 100;
					color: #000;
					font-family: 'colaborate-thin';
					width: 90%;
					&:hover {
						border-color: #666;
					}
					&:focus {
						border: #f47738 1px solid;
					}
					
					@media screen and (min-width: 720px) {
						width: 56%;
						float: right;
					}

					
				}
				
				button {
					padding: .75em 1.4em;
					background: #000;
					color: #fff;
					font-family: 'colaborate-light';
					font-size: 18px;
					border: 0;
					&:hover {
						background: #666;
					}
					&:focus {
						background: #f47738;
						outline: 0px solid transparent;
						box-shadow: none;
					}
				}
				
				li {
					margin-top: 1em;
					overflow: hidden;
				}

              .submit {
                margin-top: 2em;
                text-align: right;
                overflow: hidden;

                button {
                  float: right;
                  width: auto;
                }

                a {
                  float: left;
                  width: auto;
                  color: #4477b0;
                  margin-top: 10px;
                  &:hover {
                    color: #6899d0;
                    text-decoration: none;
                  }
                }

              }
				
			}
		
		
	}

}