@import 'fonts';
@import 'header';

main {
	padding: 1em 3em 4em 3em;
	background: #fff;
	@media screen and (max-width: 600px) {
		padding: 1em 1.5em 4em 1.5em;
	}
}

@import 'tabs';

@import 'filter';

@import 'table';

@import 'footer';

@import 'theme';

@import 'red-theme';