@import 'fonts';
@import 'header';

* {outline: none;}


main {
	padding: 1.5em 3em;
	background: #fff;
	border-top: 1px solid #aaa;
	@media screen and (max-width: 1200px) {
		padding: 1.5em 2em;
	}
	@media screen and (max-width: 700px) {
		padding: 1em .5em;
		border: 0;
	}
}



@import 'login';

@import 'tabs';

@import 'filter';

@import 'table';

@import 'footer';

.login {
	
	header {
		background: #000;	
		border-color: #000;
		h1 {
			color: #fff;
		}		
	}	

}
