table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 6px solid #4477b0;
	caption {
		text-indent: -9999px;
		font-size: 0;
	}
	th {
		text-align: left;
		background: #4477b0;
		color: #fff;
		padding: 15px;
		font-size: 16px;
        cursor: pointer;
        @media screen and (max-width: 600px) {
	        font-size: 14px;
        }
	}
	tr {
		background: #fff;
		border-top: 1px dashed #99cccd;
		&:nth-child(even) {
			background: #fff;
		}
		&:hover {
			background: #f9f9f9;
		}
		&:first-child {
			border: 0;
		}
	}
	td {
		padding: 25px 15px;
		font-size: 16px;
		&:hover {
			background: #eee;
		}
		label {
			display: none;
		}
		&:first-child {
			width: 20px;
		}
		input {
			width: 18px;
			height: 18px;
			background: #fff;
			border: none;
		}
		
		@media screen and (max-width: 700px) {
			padding: 15px 10px;
		}
		
		@media screen and (max-width: 600px) {
			font-size: 14px;
		}
		
	}
	a {
		color: #000;

		&:hover {
			color: #555;
		}
	}
	.ni, .view {
		@media screen and (max-width: 700px) {
				display: none;
			}
	}
}

.actions {
	margin: 0 0 1.5em 0;
	text-align: right;
	@media screen and (max-width: 600px) {
		margin-bottom: 1em;
	}

	button, a {
		display: inline-block;
		background: #000;
		padding: .5em .75em;
		border: 1px solid #000;
		color: #fff;
		text-decoration: none;
		line-height: 1em;
		
		@media screen and (max-width: 600px) {
			font-size: 13px;
		}

		&:hover {
			background: #fff;
			color: #000;
		}
	}
	&.below {
		margin-top: 1.5em;
		margin-bottom: 0;
	}
}

