table {
	width: 100%;
	margin-top: .8em;
	border: 6px solid #000;
	caption {
		text-indent: -9999px;
	}
	th {
		text-align: left;
		background: #000;
		color: #fff;
		padding: 15px;
		font-size: 18px;
		font-weight: normal;
	}
	tr {
		background: #fff;
		border-top: 1px dashed #bbb;
		&:hover {
				background: #eee;
			}
		&:first-child {
			border: 0;
		}
	}
	td {
		padding: 15px;
		label {
			display: none;
		}
		&:first-child {
			width: 20px;
		}
	}
	a {
		color: #000;

		&:hover {
			color: #555;
		}
	}
	.ni, .view {
		@media screen and (max-width: 700px) {
				display: none;
			}
	}
}

.completebutton {
	margin-top: 2em;
	text-align: right;
	button {
		background: #000;
		border: 0;
		border-radius: 5px;
		color: #fff;
		padding: 10px 15px;
		line-height: 1em;
		&:hover {
			background: #666;
		}
	}
}