.theme {

	background: #fff;

	main {
		background: #ddd;
	}


	header {
		background: #fff;
		position: relative;
		h1 {
			color: #000;
		}	
		
	}
	
	
	
	.dates {
		background: #f9f9f9;
		li {
			a {
				background: #4477b0;
				color: #fff;
				text-shadow: none;
				border: 2px solid #4477b0;
				
				span {
					color: #fff;
				}
				&:hover {
					border-color: #6899d0;
					background: #6899d0;
					color: #fff;
				}
			}
			&.active {
				a {
					background: #fff;
					border-color: #000;
					color: #000;
					span {
						color: #666;
					}
				}
			}
		}
	}
	
	
	
.filter {
	background: #f9f9f9;
	position: relative;
	
	ol {
		li {
			a {
				color: #666;
				background: #fff;
				
				div {
					p {
						color: #fff;
					}
				}
				
				 &.active {
					background: #ddd;
					color: #000;
				}
			}
		}
	}	
}
	
	
	
	
	
	table {
		position: relative;
		border-color: #4477b0;

		th {
			background: #4477b0;
			color: #fff;
		}
		tr {
			background: #fff;
			border-top: 1px dashed #99cccd;
			&:nth-child(even) {
				background: #fff;
			}
			&:hover {
				background: #f9f9f9;
			}
			&:first-child {
				border: 0;
			}
			
		}

		a {
			color: #000;
			&:hover {
				color: #555;
			}
		}
		
	}
	
	
	
	footer {
		color: #000;
	}

	
	
}