@(pass: String, userId: String)
<!DOCTYPE html>

<html>
    <head>
        <title>Carer's Allowance Staff Access (CASA)</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    </head>
    <body class="login">

		<header>
		    <h1>Carer's Allowance Staff Access</h1>
		</header>

		<main>

			<fieldset>

	            <legend>Password Management</legend>

				<div>

                <ul>
	                <li>Staff ID: @userId </li>

				    <li>New password is: @pass</li>

				</ul>
				
				</div>

			</fieldset>

		</main>
    </body>
</html>