@(form: Form[(String,String)])(implicit flash: Flash)

<!DOCTYPE html>

<html>
    <head>
        <title>Carer's Allowance Staff Access (CASA)</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    </head>
    <body class="login">

		
		<main>

        @helper.form(controllers.routes.Auth.authenticate) {
		
			<fieldset>
			
	            <legend>Carer's Allowance Staff Access (CASA)</legend>
				
				<div>
				
				
				@form.globalError.map { error =>
	                <p class="error">
	                    @error.message
	                </p>
	            }
	
	            @flash.get("success").map { message =>
	                <p class="success">
	                    @message
	                </p>
	            }

	            <ul>
	                <li>
	                	<label for="userId">Staff ID</label>
	                	<input name="userId" id="userId" value="@form("userId").value">
	                </li>
					<li>
						<label for="password">Password</label>
	                	<input type="password" name="password" id="password">
					</li>
					<li class="submit">
	                	<button type="submit" id="loginbutton">Login</button>		
					</li>
	            </ul>
	            
				</div>
	            
	         
			</fieldset>
	        }

		</main>


    </body>
</html>
    


