@(form: Form[(String,String)])(implicit flash: Flash, request: Request[AnyContent])
@import utils.csrf.DwpCSRFFormHelper

<!DOCTYPE html>

<html>
    <head>
        <title>Carer's Allowance Staff Access (CASA)</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    </head>
    <body class="login">
    
		
		<header>
		    <h1>Carer's Allowance Staff Access</h1>
		</header>

		
		<main>

        @helper.form(controllers.routes.Auth.authenticate) {

            @DwpCSRFFormHelper.formField

			<fieldset>
			
	            <legend>Login</legend>
				
				<div>

						@form.globalError.map { error =>
							<aside class="error">
								<h2>Please fix the following errors</h2>
						   	   
								<ol>
				                	<li>@error.message</li>
								</ol>
							</aside>
			            }	
			
			            @flash.get("success").map { message =>
			                <p class="success">@message</p>
			            }


	            <ul>
	                <li>
	                	<label for="userId">Staff ID</label>
	                	<input name="userId" id="userId" value="@form("userId").value"  autocomplete="off" maxlength="8">
	                </li>
					<li>
						<label for="password">Password</label>
	                	<input type="password" name="password" id="password"  autocomplete="off" maxlength="20">
					</li>
					<li class="submit">
	                	<button type="submit" id="loginbutton">Login</button>		
					</li>
	            </ul>
	            
				</div>
	            
	         
			</fieldset>
	        }

		</main>


    </body>
</html>
    


