@(form: Form[models.PasswordData])(implicit request: Request[AnyContent])

@import utils.csrf.DwpCSRFFormHelper

<!DOCTYPE html>

<html>
    <head>
        <title>Carer's Allowance Staff Access (CASA)</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    </head>
    <body class="login">
    
    	<header>
		    <h1>Carer's Allowance Staff Access</h1>
		</header>

        <main>

        @helper.form(controllers.routes.Password.digestPassword()) {
            @DwpCSRFFormHelper.formField

            <fieldset>

                <legend>Password Management</legend>

                <div>

                   
	                   @if(form.hasErrors) {
		                   <aside class="error"> 
	                   	
		                   	   <h2>Please fix the following errors</h2>
						   	   
						   	   <ol>

			                        @for(error <- form.errors) {
                                        <li>@Html(Messages(error.message, error.args: _*)) </li>
			                        }
			                        
			                   </ol>
                    
							</aside> 
	                    }
	

                    <ul>
                        <li>
                            <label for="userId">Staff ID</label>
                            <input name="userId" id="userId" value="@form("userId").value">
                        </li>
                        <li>
                            <label for="password1">Password</label>
                            <input type="password" name="password1" id="password1" maxlength="20">
                        </li>
                        <li>
                            <label for="password2">Confirm password</label>
                            <input type="password" name="password2" id="password2" maxlength="20">
                        </li>
                        <li class="submit">
                            <button type="submit" id="passbutton">Generate Encrypted Password</button>
                        </li>
                    </ul>

                </div>


            </fieldset>
        }

        </main>
    </body>
</html>