td:not(:empty){
    padding-bottom: 3px;
    padding-top: 5px;
}

td[id*='Heading']
{
    font-size: 14.5pt!important;
}

span {
    font-family: arial!important;
    color: #000!important;
    font-size: 10.5pt;
    line-height: 0.875em;
}

thead { display: none; }
tfoot { display: none; }
