@(claimsList:Option[play.api.libs.json.JsArray],claimNumbers:play.api.libs.json.JsObject,currentDate: org.joda.time.LocalDate)
@import utils.DateUtils

@import utils.JsValueWrapper.improveJsValue
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate

@today = @{ new LocalDate }
@dayName(date:LocalDate) = @{ date.dayOfWeek().getAsText }
@dayDate(date:LocalDate) = @{ DateTimeFormat.forPattern("dd/MM/yyyy").print(date) }
@isActiveDay(day: LocalDate) = @{ day == currentDate }
@daysList = @{ DateUtils.daysRec(8,today.plusDays(1),Seq())}
@formatToLink(day: LocalDate) = @{ DateTimeFormat.forPattern("ddMMyyyy").print(day)}

<ul class="dates clearfix">

    @for(day <- daysList){
        <li @if(isActiveDay(day)){class="active"} ><a href="/filter/surname/@{formatToLink(day)}/atom">@dayName(day) <strong>(@{(claimNumbers \ formatToLink(day)).get})</strong><span>@dayDate(day)</span></a></li>
    }
</ul>
