@(claimsList:Option[play.api.libs.json.JsArray],currentDate: org.joda.time.LocalDate)
@import utils.DateUtils

@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate

@today = @{ new LocalDate }
@dayName(date:LocalDate) = @{ date.dayOfWeek().getAsText }
@dayDate(date:LocalDate) = @{ DateTimeFormat.forPattern("dd/MM/yyyy").print(date) }
@isActiveDay(day: LocalDate) = @{ day == currentDate }
@daysList = @{ DateUtils.daysRec(7,today.plusDays(1),Seq())}
@formatToLink(day: LocalDate) = @{ DateTimeFormat.forPattern("ddMMyyyy").print(day)}
@claimNumbers = @{Application.claimService.claimNumbersFiltered("received","viewed")}
@extractNum(day: LocalDate) = @{
    val key = formatToLink(day)
    if (claimNumbers.value.contains(key)) "("+(claimNumbers \ key)+")"
    else  ""
}

<ul class="dates clearfix">

    @for(day <- daysList){
        <li @if(isActiveDay(day)){class="active"} ><a href="/filter/@{formatToLink(day)}">@dayName(day) @extractNum(day)<span>@dayDate(day)</span></a></li>
    }
</ul>
