@(url:String, message:String)(implicit lang: Lang, request: Request[AnyContent])

@import play.utils.UriEncoding

<!DOCTYPE html>

<html>
    <head>
        <title>Carer's Allowance Staff Access (CASA)</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    </head>
    <body class="login">


        <header>
            <h1>Carer's Allowance Staff Access</h1>
        </header>

        <main>
            <fieldset>

                <legend>Application Error</legend>
                <div>
                    <article class="error">
                        <p>Log out and log back in to continue.</p>
                        <p>Email <a href="mailto:cau.casa.@@dwp.gsi.gov.uk?Subject=@UriEncoding.encodePathSegment(message,"UTF-8")" target="_top">cau.casa.@@dwp.gsi.gov.uk</a> if you still see this error.</p>
                    </article>
                    <nav class="form-steps">
                        <ul>
                            <li class="submit"><button type="submit" id="backToLogin" onClick="location.href='@url'">Back to login</button></li>
                        </ul>
                    </nav>
                </div>
            </fieldset>
        </main>

        @footer()

    </body>


</html>
