@(currentDate: org.joda.time.LocalDate, currentStatus:String, tabNumbersList:play.api.libs.json.JsObject)

@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate

@formatToLink(day: LocalDate) = @{ DateTimeFormat.forPattern("ddMMyyyy").print(day)}
@isStatusCompleted = @{ currentStatus == "completed"}
@isStatusAtoM = @{ currentStatus == "atom"}
@isStatusNtoZ = @{ currentStatus == "ntoz"}
@isStatusCircs = @{ currentStatus == "circs"}

<nav class="filter">
        <ol class="clearfix">
            <li><a href="/filter/surname/@{formatToLink(currentDate)}/atom" class="@{if(isStatusAtoM)"active"}">Claims A - M (@{tabNumbersList \ "atom"})</a></li>
            <li><a href="/filter/surname/@{formatToLink(currentDate)}/ntoz" class="@{if(isStatusNtoZ)"active"}">Claims N - Z (@{tabNumbersList \ "ntoz"})</a></li>
            <li><a href="/circs/@{formatToLink(currentDate)}" class="@{if(isStatusCircs)"active"}">Circs (@{tabNumbersList \ "circs"})</a></li>
            <li><a href="/filter/@{formatToLink(currentDate)}/completed" class="@{if(isStatusCompleted)"active"}">Completed</a></li>
        </ol>
</nav>