@(claimList:Option[play.api.libs.json.JsArray], currentDate:org.joda.time.LocalDate, currentStatus: String, originTag: String)(implicit request: Request[AnyContent])

@import helper._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime
@import utils.JsValueWrapper.improveJsValue
@import utils.csrf.DwpCSRFFormHelper
@import app.ConfigProperties._

@dateTime(date:DateTime) = @{ DateTimeFormat.forPattern("dd/MM/yyyy, HH:mm").print(date) }
@date(date:DateTime) = @{ DateTimeFormat.forPattern("dd/MM/yyyy").print(date) }
@currentDateToHiddenValue = @{ DateTimeFormat.forPattern("ddMMyyyy").print(currentDate)}
@isStatusCompleted = @{ currentStatus == "completed"}
@isNISSA = @{ originTag=="GB-NIR" }

@form(action = controllers.routes.Application.complete(currentDateToHiddenValue)){
    @DwpCSRFFormHelper.formField

    @if(!isStatusCompleted){
        <div class="actions">
            <button type="submit" class="active" id="completeButton1" >Complete</button>
        </div>
    }
    <table id="claimsTable" class="tablesorter">
        <caption>List of claims</caption>
        <thead>
            <tr>
                <th></th>
                <th id="thTransactionId">Transaction Id</th>
                <th id="thNameId" class="view">Name</th>
                <th class="ni">NI Number</th>
                <th>Claim type</th>
                <th class="view">Submit Date</th>
                <th>Status</th>
                @if(getProperty("drs.enabled", default = true) && !isNISSA) {
                    <th>DRS Status</th>
                }
            </tr>
        </thead>
        <tbody>
            @if(claimList.isDefined){
                @for((claim,i) <- claimList.get.value.zipWithIndex){
                    <tr id="row_@claim.p.transactionId">
                        <td class="checked">
                        @if(claim.p.status.asString == "viewed") {
                            <input type="checkbox" name="completedCheckboxes[@i]" id="@claim.p.transactionId" value="@claim.p.transactionId">
                            <label for="@claim.p.transactionId">Claim</label>
                        }
                        </td>
                        <td id="transactionId_@i" class="transactionId"><a href="/render/@claim.p.transactionId" target="@claim.p.transactionId">@claim.p.transactionId</a></td>
                        <td id="name_@i" class="name view">@claim.p.surname @claim.p.forename</td>
                        <td id="nino_@i" class="ni">@claim.p.nino</td>
                        <td id="claimType_@i" class="claimtype">@claim.p.claimType</td>
                        <td id="claimDate_@i" class="view">@dateTime(claim.p.claimDateTime.asDate)</td>

                        <td id="status_@i" class="status">@claim.p.status</td>
                        @if(getProperty("drs.enabled", default = true) && !isNISSA) {
                            <td id="drs_status_@i" class="drsstatus">@claim.p.drsStatus</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

	<div class="actions below">
        <a class="active" id="exportButton" href="@{controllers.routes.Application.export.url}" >Export</a>
        @if(!isStatusCompleted){
        	<button type="submit" class="active" id="completeButton2" >Complete</button>
		}
    </div>

    
}
    
