@(claimList:Option[play.api.libs.json.JsArray], currentDate:org.joda.time.LocalDate, currentStatus: String)

@import helper._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime
@import utils.JsValueWrapper.improveJsValue

@dateTime(date:DateTime) = @{ DateTimeFormat.forPattern("dd/MM/yyyy, HH:mm").print(date) }
@date(date:DateTime) = @{ DateTimeFormat.forPattern("dd/MM/yyyy").print(date) }
@currentDateToHiddenValue = @{ DateTimeFormat.forPattern("ddMMyyyy").print(currentDate)}
@isStatusCompleted = @{ currentStatus == "completed"}

@form(action = controllers.routes.Application.complete(currentDateToHiddenValue)){
    <table id="claimsTable">
        <caption>List of claims</caption>
        <thead>
            <tr>
                <th></th>
                <th>Transaction Id</th>
                <th class="view">Name</th>
                <th class="ni">NI Number</th>
                <th class="view">Claim type</th>
                <th class="view">Submit Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if(claimList.isDefined){
                @for((claim,i) <- claimList.get.value.zipWithIndex){
                    <tr id="row_@claim.p.transactionId">
                        <td>
                        @if(claim.p.status.asString == "viewed") {
                            <label for="@claim.p.transactionId">Claim 1</label><input type="checkbox" name="completedCheckboxes[@i]" id="@claim.p.transactionId" value="@claim.p.transactionId">
                        }
                        </td>
                        <td class="transactionId"><a href="/render/@claim.p.transactionId" target="@claim.p.transactionId">@claim.p.transactionId</a></td>
                        <td class="view">@claim.p.surname @claim.p.forename</td>
                        <td class="ni">@claim.p.nino</td>
                        <td class="view">@claim.p.claimType</td>
                        <td class="view">@dateTime(claim.p.claimDateTime.asDate)</td>

                        <td class="status">@claim.p.status</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if(!isStatusCompleted){
        <div class="completebutton">
        	<button type="submit" class="active" id="completeButton" >Complete</button>
        </div>
    }
}